* {
  font-size: 13px;
}

.container {
  padding: 0;
}

.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: #fcfdfe;
  }
}

body {
  color: #656565;
  background-color: #f5f6f7;
  font-size: 13px;
}

.panel {
  border-color: #e3e8ed;
}

.panel-heading {
  border-color: #e3e8ed;
  background-color: #f7f8f9;
}

.btn-white {
  background-color: #ffff;
}

.main.padder {
  padding: 0 15px;
}

@media screen and (max-width: 767px) {
  .row [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.no-padding {
  padding: 0;
}

.m-b-mini {
  margin-bottom: 5px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans',"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

.bg-focus {
  background: #ffffee !important;
}

#formHorizontalEmail {
  background: #ffffee !important;
}

.btn-toolbar .btn {
  margin-left : 0;
}

.margin-left {
  margin-left: 5px!important;
}
